<%= form_for(@record) do |f| %>  
<% if @user != nil %>
<%= render 'shared/error_messages', object: f.object %>  
<% end %> 
<div class="field hidden">
 
	<%= f.text_field :id, value: @id %> 
</div>   
<%= f.text_field :date, value: @date %> 
<input class="inline checkmark entypo" name="commit" type="submit" value="&#10003;">
<% end %>
