<h1 class="home-title"> Welcome to <span class="green">STREAKS</span><span class="blue">!</span> </h1>
<h4 class="home-subtitle"> Build your <span class="orange"> habits </span> through gamification, and accomplish your <span class="orange"> goals</span>. </h4>