<h1> <%= @resolution.name %> </h1>
<h2> <%= @resolution.frequency %> </h2>
	<% if @records.count > 0 %>
	<div class="row">
		<ol>
			<% @records.each do |record| %>
			<li class="resolution"> <%= record.date %> </li>
			<% end %>
		</ol>
	</div>
	<% else %>
	<p> You have no records for this resolution </p>
	<% end %>
	<h2 class="remove-bottom"> Add a Record </h2>
	<% @record = @resolution.resolution_records.build %>
	<% @id = @resolution.id %>
	<% @date = Date.today %>
	<div class="add-record"> 
		<%= render 'shared/resolution_record_form' %>
	</div>
