/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* #FF6400 orange, #086CA2 blue, #00BB3F - Green, #007929 - darkgreen
 */

body {
	margin: 0;
	padding: 0;
	font-family: Open Sans, sans-serif;
	color: #444444;
}

a {
	text-decoration: none;
	color: #0485AD;
}

a:hover {
	color: #015666;
}

.nav-bar {
	background: #333333;
	height: 60px;
}

.nav a {
	color: #37B6CE;
	text-decoration: none;
	font-size: 16px;
	display: inline;
	float: right;
	padding-top: 20px;
}

.page-title {
	margin-top: 0;
	color: #FFFFFF;
	display: inline-block;
	padding-top: 12px;
	letter-spacing: 2px;
	font-size: 24px;'
	float: left;
}

.user-name {
	color: #FFFFFF;
	font-size: 16px;
	float: right;
	text-align: right;
	margin-top: 20px;
	margin-right: 20px;
}

.container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.green {
	color: #00B945;
}

.blue {
	color: #37B6CE;
}

.orange {
	color: #FF5C00;
}

.alert {
	color: #FF1E00;
	text-align: center;
	padding-top: 20px;
}



.hidden {
	display: none;
}

.inline {
	display: inline;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.add-top {
	margin-top: 40px;
}

@font-face {
	    font-family: 'Entypo';
	    src: url('../fonts/entypo.eot'),
	         url('../fonts/entypo.woff') format('woff'),
	         url('../fonts/entypo.ttf') format('truetype'),
	         url('../fonts/entypo.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }

.entypo {
	font-family: Entypo;
}
