// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-form input[type="submit"]
{
	background: none;
	color: #0485AD;
	font-size: 16px;
	font-weight: bold;
	outline:none;
}

.sign-in-form input[type="submit"]:hover
{
	color: #015666;
}

.sign-in-form input
{
	border: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
}
